@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('auth.css');

body {
    font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #edf1f5;

    ::selection {
        background-color: #921eb3;
    };
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #333;
    text-align: center;
}

a:hover {
    color: #ff00f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.card-title {
    margin-top: 0;
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
}

header {
    background-color: #921eb3;
    color: #fff;
    padding: 16px;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    top: 0;
    z-index: 1;
}

header h1 {
    margin: 0;
    color: #fff;
}

header a {
    color: #fff;
    text-decoration: none;
    max-width: 128px;
}

header a:hover {
    color: #fff;
    text-decoration: underline;
}

nav {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landing {
    width: 100%;
    max-width: 1100px;
    text-align: center;
    color: white;
    background-color: #333333;
    border-radius: 16px;
}

#landing img {
    max-width: 100%;
    max-height: 360px;
}

#landing h1 {
    font-size: 72px;
    font-family: 'Cherry Bomb One';
    margin: 0;
    padding: 0;
    color: white !important;
}

#landing h2 {
    color: white !important;
}

#landing h3 {
    color: white;
}

.sliding-words {
    display: inline-block;
    overflow: hidden;
    flex-grow: 1;
    height: 32px;
    vertical-align: bottom;
    margin: 0 8px;
    box-shadow: 0 -4px 4px -4px #333333, 0 4px 4px -4px #333333;
}

.sliding-words:after {
  content: "";
  position: absolute;
  box-shadow: 0 -4px 4px -4px #333333, 0 4px 4px -4px #333333;
}

.sliding-words-inner {
    display: inline-block;
    animation: scroll-text 5s linear infinite;
    color: #C88DD8;
}

.sliding-words span {
  display: block;
}

#landing .feature-cards {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 48px;
    padding: 32px;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

#landing .feature-cards a {
    all: unset;
    cursor: pointer;
    border: 2px dashed #ffffff;
}

#landing .feature-cards a:hover {
    box-shadow: 0 0 4px #C88DD8;
    color: #C88DD8 !important;
    border: 2px dashed #C88DD8;
}

#landing .feature-cards a:hover > .feature h3 {
    color: #C88DD8 !important;
}

#landing .feature-cards a:hover > .feature i {
    transform: scale(1.1);
}

#landing .feature h3, #landing .feature, #landing .feature-cards a, #landing .feature i {
  transition: 0.25s;
}

#landing .feature {
  padding: 16px;
}

#landing .feature i {
    font-size: 48px;
    margin: 0;
    padding: 0;
}

#landing .feature .info p {
    margin: 0;
    padding: 0;
}

#landing .feature .info h3 {
    margin-bottom: 0;
}

#index-explore {
    text-align: center;
    margin: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#index-explore form {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 2px solid #333;
    border-radius: 20px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    overflow: hidden;
    background-color: #fff;
}

#index-explore input {
    max-width: 100%;
    font-size: large;
    margin: 0;
    padding: 0;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    outline: none;
}

#index-explore button {
    background-color: transparent;
    border-radius: 0;
    margin: 0;
    padding: 0;
    height: auto;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
}

#index-explore input, #index-explore button {
    height: 32px;
    border: 1px solid transparent;
}

.content-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.content-card {
    width: 170px;
    height: 245px;
    border: 1px solid #000;
    margin: 8px;
    box-shadow: #000 2px 2px 2px;
    transition: 0.25s;
    position: relative;
    overflow: hidden;
}

.content-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content-card:active {
    transform: scale(1);
}

.content-card div.title {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    transition: 0.25s;
    margin: 0;
    padding: 16px;
    box-sizing: border-box;
}

.content-card:hover div.title {
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 1;
}


/* a {
    color: #921eb3;
    text-decoration: none;
    background-image: linear-gradient(#921eb3, #921eb3);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.15s ease-in-out;
}

a:hover, a:focus, a:active {
    background-size: 100% 0.1em;
    color: #921eb3;
} */

input, textarea, select {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    overflow: hidden;
    background-color: #fff;
}

button {
    border: 1px solid #333;
    padding: 10px;
    background-color: #921eb3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.15s;   
}

button:hover {
    background-color: #b050ca;
    transform: scale(1.05);
}

button:active {
    background-color: #710c8d;
    transform: scale(0.95);
}

button[type="submit"] {
    background-color: #1eb361;
}

button[type="submit"]:hover {
    background-color: #49d37e;
}

button[type="submit"]:active {
    background-color: #0d7e2b;
}

button[type="reset"] {
    background-color: #eb1e1e;
}

button[type="reset"]:hover {
    background-color: #f54d4d;
}

button[type="reset"]:active {
    background-color: #8d0c0c;
}

button:disabled {
    background-color: #c2c2c2;
    color: #333;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #c2c2c2;
    transform: none;
}

body {
    color: #333;
    background-color: #f4f4f4;
}

@keyframes scroll-text {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-98px);
  }
}