@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('auth.css');

body {
    font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #edf1f5;

    ::selection {
        background-color: #921eb3;
    };
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #333;
    text-align: center;
}

a:hover {
    color: #23527c;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.card-title {
    margin-top: 0;
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
}

header {
    background-color: #921eb3;
    color: #fff;
    padding: 16px;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    top: 0;
}

header h1 {
    margin: 0;
    color: #fff;
}

header a {
    color: #fff;
    text-decoration: none;
    max-width: 128px;
}

header a:hover {
    color: #fff;
    text-decoration: underline;
}

nav {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index-header {
    max-height: 360px;
    width: 100%;
    text-align: center;
}

#index-header img {
    max-width: 100%;
    max-height: 360px;
}

#index-header h1 {
    font-size: 72px;
    font-family: 'Cherry Bomb One';
    margin: 0;
    padding: 0;
}

#index-explore {
    text-align: center;
    margin: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#index-explore form {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 2px solid #333;
    border-radius: 20px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    overflow: hidden;
    background-color: #fff;
}

#index-explore input {
    max-width: 100%;
    font-size: large;
    margin: 0;
    padding: 0;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    outline: none;
}

#index-explore button {
    background-color: transparent;
    border-radius: 0;
    margin: 0;
    padding: 0;
    height: auto;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
}

#index-explore input, #index-explore button {
    height: 32px;
    border: 1px solid transparent;
}

.content-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.content-card {
    width: 170px;
    height: 245px;
    border: 1px solid #000;
    margin: 8px;
    box-shadow: #000 2px 2px 2px;
    transition: 0.25s;
}

.content-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content-card:active {
    transform: scale(1);
}

a {
    color: #921eb3;
    text-decoration: none;
    background-image: linear-gradient(#921eb3, #921eb3);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.15s ease-in-out;
}

a:hover, a:focus, a:active {
    background-size: 100% 0.1em;
    color: #921eb3;
}

input {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    overflow: hidden;
    background-color: #fff;
}

button {
    padding: 10px;
    background-color: #921eb3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.15s;   
}

button:hover {
    background-color: #b050ca;
    transform: scale(1.05);
}

button:active {
    background-color: #710c8d;
    transform: scale(0.9);
}

input[type="submit"] {
    background-color: transparent !important;
}

