{% extends 'base.html' %}

{% block content %}
<h2>{{ object.titulo }}</h2>
<p>{{ object.descripcion }}</p>
<ul>
    <li><p><b>Fecha de estreno:</b> {{ object.fecha_estreno }}</p></li>
    <li><p><b>Tipo:</b> {{ object.tipo }}</p></li>
    <li><p><b>Géneros:</b><ul>{% for genero in object.generos.all %}<li>{{ genero }}</li> {% endfor %}</ul></p></li>
</ul>
{% if user.is_authenticated %}
    <button onclick="location.href='{% url 'contenido_update' object.pk %}'">Editar</button>
    <button onclick="location.href='{% url 'contenido_delete' object.pk %}'">Eliminar</button>
{% endif %}
{% endblock %}