{% extends 'base.html' %}

{% block content %}
<h2>Explorar</h2>

<!-- Barra de búsqueda -->
<form method="get" action="{% url 'explorar' %}">
    <input type="text" name="q" placeholder="Buscar contenido..." value="{{ request.GET.q }}">
    <button type="submit">Buscar</button>
</form>

<div class="content-slider">
    {% for contenido in object_list %}
    <a href="/contenido/{{ contenido.pk }}">
        <div class="content-card">
            <img src="{{ contenido.imagen }}" alt="{{ contenido.titulo }}" />
        </div>
    </a>
    {% endfor %}
</div>

{% if user.is_staff %}
<a href="{% url 'contenido_add' %}">Añadir contenido</a>
{% endif %}

{% endblock %}
