{% extends 'base.html' %}

{% load static %}

{% block title %}Pulpo{% endblock %}

{% block content %}
<div id="index-header">
    <h1><i class="fab fa-octopus-deploy"></i> Pulpo</h1>
    <!-- <img src="{% static 'pulpo_app/pulpo.png' %}" alt="Pulpo logo"> -->
</div>
<div id="index-explore">
    <form action="{% url 'explorar' %}" method="GET">
        <input type="text" name="q" class="form-control" placeholder="Buscar contenido" aria-label="Buscar contenido" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>
<h2>Top semanal</h2>
<div class="content-slider">
    <div class="content-card"></div>
    <div class="content-card"></div>
    <div class="content-card"></div>
    <div class="content-card"></div>
    <div class="content-card"></div>
</div>
<h2>Agregado recientemente</h2>
<div class="content-slider">
    <div class="content-card"></div>
    <div class="content-card"></div>
    <div class="content-card"></div>
    <div class="content-card"></div>
    <div class="content-card"></div>
</div>
{% endblock %}