{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}Registro - {% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Registrarse</h2>
    <form class="auth-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrarse</button>
    </form>
    <p>O regístrate con:</p>
    <a href="{% provider_login_url 'google' %}">Google</a>
</div>

<p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
{% endblock %}