{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}Pulpo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <script src="{% static 'style.js' %}" defer></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css"/>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
</head>
<body>
    <header>
        {% block header %}
        <h1><i class="fab fa-octopus-deploy"></i></h1>
        <nav>
            <div class="left-links">
                <a href="/"><i class="fa-solid fa-house"></i> Inicio</a>
                <a href="{% url 'explorar' %}"><i class="fa-solid fa-compass"></i> Explorar</a>
                <a href="{% url 'comunidad' %}"><i class="fa-solid fa-users"></i> Comunidad</a>
            </div>
            <div class="profile-dropdown">
                <a href="{% url 'profile' %}"><button class="dropdown-btn"><i class="fa-solid fa-user"></i> {% if user.is_authenticated %}{{ user.username }}{% else %}Perfil{% endif %}</button></a>
                <div class="dropdown-content">
                    {% if user.is_authenticated %}
                        <a href="/profile">Ver perfil</a>
                        <form action="{% url 'logout' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <a href="#" onclick="this.closest('form').submit(); return false;">Cerrar sesión</a>
                        </form>
                    {% else %}
                        <a href="/login">Iniciar sesión</a>
                        <a href="/register">Registrarse</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% endblock %}
    </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    {% block extra_js %}{% endblock %}
</body>
</html>

